.container {
  &:not(.expanded) {
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
    }
  }
}