@import '../../../assets/styles/variables.scss';

.container {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: auto;
}

.card {
  flex: 0 0 25vw;
  min-width: 250px;
  border-radius: $base-border-radius;
  border: $base-border;
  padding: 15px;
  margin-bottom: 30px;
}

.title {
  font-size: 18px;
  font-weight: 600;
}