@use '../../../assets/styles/variables.scss' as v;

.container {
  display: flex;
  flex-direction: column;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    text-align: left;
    background: v.$base-color-bg-primary;
    color: #fff;
  }

  th, td {
    padding: 5px;
  }
}