$s-breakpoints: (
        s: 480px,
        m: 768px,
        l: 1024px
);

@mixin responsive($size) {
  $breakpoint: map-get($s-breakpoints, $size);

  @if $breakpoint {
    @media (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint `#{$size}`.";
  }
}