.container {
  background: transparent;
  border: none;
  cursor: pointer;
  color: blue;
  transition: color 0.2s ease-in-out;
  text-decoration: underline;

  &:hover {
    color: cornflowerblue;
  }

  &.hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}