.container {
  background: transparent;
  border: none;
  cursor: pointer;
  color: blue;
  transition: color 0.2s ease-in-out;
  text-decoration: underline;

  &:hover {
    color: cornflowerblue;
  }
}